* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cta-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

#search-bar {
    width: 100%;
    height: 50px;
    margin: 10px;
    max-width: 800px;
    padding: 10px;
    border-radius: 50px;
    border: 1px solid #ccc;
    transition: all 0.1s ease-in-out;
}

#search-bar:focus {
    outline: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

#search-bar::placeholder {
    color: #aaa;
    margin-left: 200px !important;
}

.btn {
    font-family: 'Poppins', sans-serif;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    border-radius: 50px;
    border: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}