* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cta-section {
    display: flex;
    height: 100vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.cta-line {
    font-family: 'Arial', sans-serif;
    font-weight: 600;
    font-size: 5rem;
    line-height: 8rem;
}

/* code for search bar */
.search-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
}

.search-input-wrapper {
    position: relative;
    flex: 1;
}

#search-bar {
    width: 100%;
    height: 50px;
    margin: 10px 10px 10px 0;
    padding: 10px;
    padding-left: 20px;
    padding-right: 60px;
    border-radius: 50px;
    border: 1px solid #ccc;
    transition: all 0.1s ease-in-out;
    font-size: 14px;
}

.shortcut-hint {
    position: absolute;
    right: 22px;
    height: 25px;
    top: 50%;
    transform: translateY(-50%);
    background: #f0f0f0;
    color: #555;
    justify-items: center;
    font-size: 0.9rem;
    padding: 4px 8px;
    border-radius: 4px;
    pointer-events: none;
    font-family: monospace;
}

#search-bar:focus {
    outline: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

#search-bar::placeholder {
    color: #aaa;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}

.btn {
    font-family: 'Poppins', sans-serif;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 50px;
    border: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

#search-btn {
    font-weight: 600;
    font-size: 1rem;
    margin-left: 10px;
    cursor: pointer;
    height: 50px;
}

.btn:hover {
    background-color: #0056b3;
    color: white;
}